# Node.js dependencies
node_modules/
dist/
build/
.npmrc

# 환경 변수
backend/.env
frontend/.env.local
.env*
backend/uploads

# Next.js
.next/
out/

test-results/
/e2e/test-results/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
.idea/
*.swp
*.swo
